body {
    text-align: center;
    font-family: sans-serif;
    background: #70c5ce;
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    margin: 20px auto;
    background: #70c5ce;
    border: 2px solid #000;
}

#score {
    text-align: center;
    font-size: 20px;
    color: #fff;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

